@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body, input[text], button {
  color: black;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  /*background: #cfe7f6;*/
  background-image: url("assets/images/27127080-balloons-wallpapers.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.form-group {
    font-size: 100%;
    margin: 1em;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}